.spiral-container {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
}

.spiral-inner {
  --uib-center: calc(var(--uib-size) / 2 - var(--uib-size) / 5 / 2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spiral-rotate calc(var(--uib-speed) * 3) linear infinite;
}

.spiral-dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;

  &::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    animation: spiral-oscillate var(--uib-speed) ease-in-out infinite alternate;
    transition: background-color 0.3s ease;
  }
}

.spiral-dot:nth-child(1)::before {
  transform: translateX(var(--uib-center));
}

.spiral-dot:nth-child(2) {
  transform: rotate(45deg);
  &::before {
    transform: translateX(var(--uib-center));
    animation-delay: calc(var(--uib-speed) * -0.125);
  }
}

.spiral-dot:nth-child(3) {
  transform: rotate(90deg);
  &::before {
    transform: translateX(var(--uib-center));
    animation-delay: calc(var(--uib-speed) * -0.25);
  }
}

.spiral-dot:nth-child(4) {
  transform: rotate(135deg);
  &::before {
    transform: translateX(var(--uib-center));
    animation-delay: calc(var(--uib-speed) * -0.375);
  }
}

.spiral-dot:nth-child(5) {
  transform: rotate(180deg);
  &::before {
    transform: translateX(var(--uib-center));
    animation-delay: calc(var(--uib-speed) * -0.5);
  }
}

.spiral-dot:nth-child(6) {
  transform: rotate(225deg);
  &::before {
    transform: translateX(var(--uib-center));
    animation-delay: calc(var(--uib-speed) * -0.625);
  }
}

.spiral-dot:nth-child(7) {
  transform: rotate(270deg);
  &::before {
    transform: translateX(var(--uib-center));
    animation-delay: calc(var(--uib-speed) * -0.75);
  }
}

.spiral-dot:nth-child(8) {
  transform: rotate(315deg);
  &::before {
    transform: translateX(var(--uib-center));
    animation-delay: calc(var(--uib-speed) * -0.875);
  }
}

@keyframes spiral-oscillate {
  0% {
    transform: translateX(var(--uib-center)) scale(0);
    opacity: 0.25;
  }

  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes spiral-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
