@use '../../../component-library/styles/tokens' as *;

.bitfun-lsp-config {
  &__message-container {
    padding: $size-gap-4 $size-gap-4 0;
    animation: bitfun-collection-slide-down 0.2s $easing-standard;
  }

  &__plugins {
    overflow: hidden;
    background: transparent;
  }
}
